header.cd-menu {
  z-index: 100;
}

#jQueryCookieDisclaimer {
  padding-top: 2px;
  padding: 0px 2px 0px 2px;
}
.cdbar {
  font-size: 14px;
}
.cdbar .cdbar-text {
  width: 59%;
  margin: 0px;
}

nav.navbar#header-menu {
  margin-bottom: 0px;
}
@media only screen and (min-width: @screen-lg-min) {
  .cd-header-menu {
    width: 65%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: @screen-sm-min -1) {
  .cd-header {
    padding: 0;
  }
  .cd-header-menu {
    width: 80%;
    margin: 0 auto;
  }
  .cd-header-menu-inner {
    width: 100%;
  }
}

.zen-icon {
  background-image:url('/plugins/nodebb-theme-cd-persona/images/zen-icon.png');
  width: 12px;
  height: 14px;
  background-repeat: no-repeat;
}
